thead {
    text-align-last: center;
    color: black;
   
  
}
caption{
    text-align: center;
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
table{
    text-align: center;
    color: black;
}
div {
    font-size: 20px;
    text-align: center;
   
}